.wheel {
  width: 600px; /* 200px * 3 */
  height: 600px; /* 200px * 3 */
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  transform-origin: center;
  transition: transform 3s;
}

.indicator {
  position: absolute;
  top: -20px; /* Ajusta según sea necesario */
  left: 50%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent; /* Ajusta el tamaño según sea necesario */
  border-right: 20px solid transparent; /* Ajusta el tamaño según sea necesario */
  border-top: 40px solid black; /* Ajusta el tamaño y el color según sea necesario */
  transform: translateX(-50%);
}
.wheel.spinning {
  animation: spin 0.8s linear infinite;
}

.segment {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  clip-path: polygon(50% 50%, 100% 50%, 100% 0%);
}

.segment:nth-child(12n + 1) {
  background-color: #ff0000; /* Rojo */
  transform: rotate(0deg);
}

.segment:nth-child(12n + 2) {
  background-color: #ff7f00; /* Naranja */
  transform: rotate(30deg);
}

.segment:nth-child(12n + 3) {
  background-color: #ffff00; /* Amarillo */
  transform: rotate(60deg);
}

.segment:nth-child(12n + 4) {
  background-color: #00ff00; /* Verde */
  transform: rotate(90deg);
}

.segment:nth-child(12n + 5) {
  background-color: #0000ff; /* Azul */
  transform: rotate(120deg);
}

.segment:nth-child(12n + 6) {
  background-color: #4b0082; /* Índigo */
  transform: rotate(150deg);
}

.segment:nth-child(12n + 7) {
  background-color: #9400d3; /* Violeta */
  transform: rotate(180deg);
}

.segment:nth-child(12n + 8) {
  background-color: #ffc0cb; /* Rosa */
  transform: rotate(210deg);
}

.segment:nth-child(12n + 9) {
  background-color: #a52a2a; /* Marrón */
  transform: rotate(240deg);
}

.segment:nth-child(12n + 10) {
  background-color: #808080; /* Gris */
  transform: rotate(270deg);
}

.segment:nth-child(12n + 11) {
  background-color: #add8e6; /* Azul claro */
  transform: rotate(300deg);
}

.segment:nth-child(12n + 12) {
  background-color: #8b4513; /* Marrón oscuro */
  transform: rotate(330deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
